* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #c69;
}

.main {
  display: flex;
  // @media (max-width: $breakpoint--mobile) {
  //   flex-direction: column;
  // }
}
