* {
  box-sizing: border-box;
}

html, 
body, {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul, 
li {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2 {
  text-align: center;
}

body {
  background: #dda0dd;
}
