.game-board {
  display: grid;
  grid-gap: 1em;
  list-style: none;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  list-style: none;
  width: 60vw;
  height: 80vh;
  margin: 0 auto;

  .character-wrapper {
    position: relative;
  }

  .character,
  .click-area {
    animation: move .5s ease-in-out alternate infinite;
  }

  @for $i from 1 through 9 {
    $speed: random()*5 + 's';
    $color-hue: random()*360 + 'deg';
    $brightness: random() + 1;

    .game-board-square:nth-child(#{$i}) {
      .character,
      .click-area {
        animation-duration: #{$speed};
      }
    }
  }
}

.game-board-square {
  // width: 300px;
  // height: 300px;
  background-color: lightblue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .shield {
    width: 100%;
    height: 60%;
    z-index: 4;
    position: absolute;
    bottom: 0; left: 0;
    display: block;
    background-color: maroon;
    // maroon looks more brown than brown
    // also gray vs darkgray
    pointer-events: none;
  }
}

// character movement
@keyframes move {
  0% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(30%)
  }
}
