// Setting the colors we're syncing up with
$colors: (
  'w': #fff,
  'k': #000,
  'o': transparent,
  'p': #fdcaaa,
  'a': #bc8e0c,
  'l': #b5eaf7,
  'v': #a0a0ef,
  'b': #3782b5,
  'g': #aaaaaa,
  'n': #0d1959,
  'd': #442233,
  'r': #c69,
  'c': #303515
);

// Size of the pixels
$pixel-size: 4px !default;

// Mario pixel art matrices!
$pixel-art:(
  tim: (
    (o o o o o o o o o o k k k k k k k o o o o o o o)
    (o o o o o o o o k k a a a a a a a k o k o o o o)
    (o o o o o o o k a a a a a a a a a a k a k o o o)
    (o o o o o k k a a p a a a a a a a a a a k o o o)
    (o k k o k w w k a a p p p p p p a a a a k o o o)
    (k w w k k w w k a p p p p p p p p a a a a k o o)
    (k w w w k w w k p p p p p p p p p p a a a k o o)
    (o k w w k k k k k p w w p p w w p p a k k o o o)
    (k w w w k w w w k w k w p p w k w p a p p k o o)
    (k w w w k w w w k w k w p p w k w p k p p k o o)
    (k w w w w k k w k p p p p p p p p p p k p k o o)
    (o k k w w w w k p p p p p a a a a p p k p k o o)
    (o o o k k k k p k p a a a a a a w a p k k o o o)
    (o o o o k p p p k a p w w w w w p a p k o o o o)
    (o o o o k p p p l k p p a a p p p k k k o o o o)
    (o o o o o k l l l v k p p p p k k l l k k o o o)
    (o o o o o k l l l v v k p p k v v k l l l k o o)
    (o o o o o o k l l l l v v k v v l k l k k p k o)
    (o o o o o o o k l l l l l v l l l l k p p p k o)
    (o o o o o o o k l l l l l v l l l l k p p p k o)
    (o o o o o o o k l l l l l l l l l l k p p k o o)
    (o o o o o o o k b l l l l l l l l l l k k o o o)
    (o o o o o o k b b b b b b b b b b b b k o o o o)
    (o o o o o o k b b b b b b b b b b b b k o o o o)
    (o o o o o k b b b b b b b b b b b b b b k o o o)
    (o o o o o k b b b b b k k k k b b b b b k o o o)
    (o o o k k k b b b b k k k k k k b b b b k k k o)
    (o o k k k k k k k k k k o o k k k k k k k k k k)
    (o o o k k k k k k k k k o o k k k k k k k k k o)
    (o o o o k k k k k k k o o o o k k k k k k k o o)
  ),

  kevin: (
    (o o o o o o o o o o k k k k k k o o o o o o o o)
    (o o o o o o o o k k g g g g g g k k o o o o o o)
    (o o o o o o o k g g g g g g g g g g k o o o o o)
    (o o o o o k k g g g g g g g g g g g g k o o o o)
    (o k k o k w w k g g k k k k k k g g g k o o o o)
    (k w w k k w w k k k k k k k k k k k g g k o o o)
    (k w w w k w w k k k k k k k k k k k k g k o o o)
    (o k w w k k k k k k w w p p w w k k k k k o o o)
    (k w w w k w w w k w k w p p w k w p k p p k o o)
    (k w w w k w w w k w k w p p w k w p k p p k o o)
    (k w w w w k k w k p p p p p p p p p p k p k o o)
    (o k k w w w w k p p k k k k k k p p p k p k o o)
    (o o o k k k k p k k k k k k k k k k p k k o o o)
    (o o o o k p p p k k k p p p p p k k k k o o o o)
    (o o o o k p p p w k p p k k p p p k k k o o o o)
    (o o o o o k w w w w k p p p p k k w w k k o o o)
    (o o o o o k w w w w w k k k k w w k w w w k o o)
    (o o o o o o k w w w w w w w w w w k w k k p k o)
    (o o o o o o o k w w w w w w w w w w k p p p k o)
    (o o o o o o o k w w w w w w w w w w k p p p k o)
    (o o o o o o o k w w w w w w w w w w k p p k o o)
    (o o o o o o o k w w w w w w w w w w w k k o o o)
    (o o o o o o k n n n n n n n n n n n n k o o o o)
    (o o o o o o k n n n n n n n n n n n n k o o o o)
    (o o o o o k n n n n n n n n n n n n n n k o o o)
    (o o o o o k n n n n n k k k k n n n n n k o o o)
    (o o o k k k n n n n k k k k k k n n n n k k k o)
    (o o k k k k k k k k k k o o k k k k k k k k k k)
    (o o o k k k k k k k k k o o k k k k k k k k k o)
    (o o o o k k k k k k k o o o o k k k k k k k o o)
  ),

  kristina: (
    (o o o o o o o o o o o o k k k k k o o o o o o o)
    (o o o o o o o o k k k k d d d d d k k o o o o o)
    (o o o o o o o k d d d d d d d d d d d k o o o o)
    (o o o o o k k d d d d p p p p p d d d k o o o o)
    (o k k o k w w k d p p p p p p p p d d d k o o o)
    (k w w k k w w k d p p p p p p k k d d d d k k o)
    (k w w w k w w k k k k p p p p p p d d d d d k o)
    (o k w w k k k k k k w w p p w w k d d d d d k o)
    (k w w w k w w w k w k w p p w k w d d d d d d k)
    (k w w w k w w w k w k w p p w k w k d d d d k o)
    (k w w w w k k w k p p p p p p p p p p d d k o o)
    (o k k w w w w k p p p p p p p p p p p k p k o o)
    (o o o k k k k k p p p p r r r r p p p k k o o o)
    (o o o o k k k k k p p r r r r p p p k o o o o o)
    (o o o o k k k k k k p p p p p p p k k k o o o o)
    (o o o o o k k k k k k p p p p k k k k k k o o o)
    (o o o o o k k k k k p p p p p p k k k k k k o o)
    (o o o o o o k k k k k k k k k k k k k k k p k o)
    (o o o o o o o k k k k k k k k k k k k p p p k o)
    (o o o o o o o k k k k k k k k k k k k p p p k o)
    (o o o o o o o k k k k k k k k k k k k p p k o o)
    (o o o o o o o k k k k k k k k k k k k k k o o o)
    (o o o o o o k c c c c c c c c c c c c k o o o o)
    (o o o o o o k c c c c c c c c c c c c k o o o o)
    (o o o o o k c c c c c c c c c c c c c c k o o o)
    (o o o o o k c c c c c k k k k c c c c c k o o o)
    (o o o k k c c c c c k k k k k k c c c c c k k o)
    (o o k k k k k k k k k k o o k k k k k k k k k k)
    (o o o k k k k k k k k k o o k k k k k k k k k o)
    (o o o o k k k k k k k o o o o k k k k k k k o o)
  ),

  polly: (
    (o o o o o o o o o o o o k k k k k o o o o o o o)
    (o o o o o o o o k k k k d d d d d k k o o o o o)
    (o o o o o o o k d d d d d d d d d d d k o o o o)
    (o o o o o k k d d d p p d d d d d d d k o o o o)
    (o k k o k w w k d p p p p d d d d d d d k o o o)
    (k w w k k w w k d p p p p p p d d d d d d k o o)
    (k w w w k w w k k k k p p p p p d d d d d d o o)
    (o k w w k k k k k k w w p p w w k d d d d d k o)
    (k w w w k w w w k w k w p p w k w d d d d d k o)
    (k w w w k w w w k w k w p p w k w d d d d d k o)
    (k w w w w k k w k p p p p p p p p p d d d d k o)
    (o k k w w w w k p p p p p p p p p p d d d d k o)
    (o o o k k k k k p p p r r r r p p p d d d d k o)
    (o o o o k w w w p p p p r r p p p d d d d k o o)
    (o o o o k w w w w p p p p p p p d d d d d o o o)
    (o o o o o k w w w w k p p p p p d d d d d o o o)
    (o o o o o k k w w w w k p p k d d d d d d k o o)
    (o o o o o o k w w w w w k k d d d d d k w w k o)
    (o o o o o o o k w g g g w k d d w w k w w w k o)
    (o o o o o o o k w w g g w g w w w w k w w w k o)
    (o o o o o o o k w w w w w g w w w w k w w k o o)
    (o o o o o o o k g g g g g g g g g g g k k o o o)
    (o o o o o o k w k w k w k w k w k w k k o o o o)
    (o o o o o o k w k w k w k w k w k w k k o o o o)
    (o o o o o k k w k w k w k w k w k w k w k o o o)
    (o o o o o k k w k w k w k w k w k w k w k o o o)
    (o o o k k w k w k w k w k w k w k w k w w k k o)
    (o o k k k k k k k k k k o o k k k k k k k k k k)
    (o o o k k k k k k k k k o o k k k k k k k k k o)
    (o o o o k k k k k k k o o o o k k k k k k k o o)
  ),
  love: (
    (o o r r o r r o o)
    (o r r r r r r r o)
    (o r r r r r r r o)
    (o o r r r r r o o)
    (o o o r r r o o o)
    (o o o o r o o o o)
  )
);

// Function to read the matrix and pixelize it!
@function pixelize($matrix, $size){
    $l: length($matrix);
    $sh: '';

    @for $row from 1 through $l{
      $row-num: nth($matrix,$row); //

      @for $col from 1 through length($row-num){
        $dot: nth($row-num,$col);

        $sh:  $sh + ($col*$size) + ' ' + ($row*$size) + ' ' + map-get($colors, $dot);
      
        @if not ($col == length($row-num) and $row == $l) {
          $sh: $sh + ',';
        }
      }
    }

    @return unquote($sh);
}

// Mixin to style each item
@mixin style-item($matrix, $size){
  width:($size * length(nth($matrix,1)));
  height:($size * length($matrix));

  &:after{
    content: '';
    position: absolute;
    top: (-$size);
    left: (-$size);
    width: $size;
    height: $size;
    box-shadow: pixelize($matrix,$size);
  }
}

.pixelized {
  list-style: none;

   @each $key, $value in $pixel-art{
    &--#{$key}{
      @include style-item($value, $pixel-size);
    }
  }
}

.character-wrapper {
  position: relative;
}