.click-area {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  left: -5px;
  appearance: none;
  cursor: grab;
  z-index: 2;
}

.game-area {
  counter-reset: game;
}

.click-area:checked {
  counter-increment: game;
}

.score::after {
  content: counter(game);
}

.stopper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0; left: 0;
  background: cyan;
  z-index: 6;
  text-align: center;
  transform: translateY(-100vh);

  animation: stopper .5s forwards;
  animation-delay: 5s;
}

@keyframes stopper {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes score {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50vh);
  }
}

h2 {
  z-index: 10;
  display: block;
  position: relative;
  animation: score .5s forwards;
  animation-delay: 5.25s;
}

.click-area {
  &:checked {
    animation: none;
    pointer-events: none;

    + div {
      filter: grayscale(1);
      animation: none;
    }

    &::after {
      display: block;
    }

    @extend .pixelized--love;
  }
}